GHHELPER_ACCESS=<GitHub access token>
MAGNIFICENT_16="ar fr-FR es-ES de-DE id it he ru ja pt-BR nl ko tr sv  zh-Hans zh-Hant"
FASTLANE_USER="my-app-store-connect-email-address@example.com"
DELIVER_USER="my-app-store-connect-email-address@example.com"